---
---

@import "{{ site.theme }}";
body {
  background: #9e9e9e;
  color: #000000;
  text-shadow: unset;
}
#container {
  background: #9e9e9e;
  color: #000000;
}
pre code {
  background-color: #898989;
}
code {
  background-color: #898989;
}
footer {
  color: #000000;
}
footer a {
  color: #000000;
}
