---
---

@import "{{ site.theme }}";
body {
  background: #9e9e9e;
  color: #000000;
  text-shadow: unset;
}
h1 {
  color: #000000;
}
h2 {
  color: #000000;
}
h3 {
  color: #000000;
}
h4 {
  color: #000000;
}
#container {
  background: #9e9e9e;
  color: #000000;
}
a {
  color: #1624a6;
  font-weight: bold;
}
a:hover {
  color: #1624a6;
  font-weight: bold;
}
pre code {
  background-color: #898989;
}
code {
  background-color: #898989;
}
footer {
  color: #000000;
}
footer a {
  color: #000000;
}
